doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-canvas-groups
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-canvas-groups')
    meta(name='author', content='Rolf Johansson')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&amp;subset=latin-ext&amp;display=swap')
    link(rel='stylesheet', href='/assets/styles/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    .container
      .row
        .col-lg-12.text-left
          h1 Group Management
          
          each category in course.categories
            h2 #{category.name}

            each group in category.groups
                h3 #{group.name}
                table(style='width=100%; margin-bottom:24px;')
                    thead
                        tr
                            th Namn
                            th E-post
                    tbody

                        each member in group.members
                            tr
                                td #{member.sortableName}
                                td #{member.email}

          p
            small Running time: #{statistics.running_s}s, #{statistics.running_ms}ms
