doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-canvas-groups
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-canvas-groups')
    meta(name='author', content='Rolf Johansson')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&amp;subset=latin-ext&amp;display=swap')
    link(rel='stylesheet', href='/assets/styles/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='/assets/js/script.js')
  body
    .container
      .row
        .col-lg-12.text-left
          each category in course.categories
            h2 #{category.name}

            table
                thead
                tr
                    th Group
                    th Student
                    th Email address
                    th
                tbody

                each group in category.groups
                    each user in group.users
                        tr
                            td #{group.name}
                            td #{user.sortableName}
                            td #{user.email}
                            td
                              img(class='avatar' style='max-height:50px;' src=user.avatarUrl)

            div(class='button-bar')
                button(type='button' class='btn btn-primary btn-sm' onclick='downloadCsv(' + category.id + ');') Download CSV for Excel

          p
            small #{statistics.name} #{statistics.version} <!-- render time #{statistics.running_s}s, #{statistics.running_ms}ms. -->
