doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-canvas-groups
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-canvas-groups')
    meta(name='author', content='Rolf Johansson')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&amp;subset=latin-ext&amp;display=swap')
    link(rel='stylesheet', href='/assets/styles/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='/assets/js/script.js')
  body
    .container
      .row
        .col-lg-12.text-left
          each category in course.categories
            h2 #{category.name}

            table
                thead
                tr
                    th Group
                    th Student
                    th Email address
                tbody

                each group in category.groups
                    each user in group.users
                        tr
                            td #{group.name}
                            td #{user.sortableName}
                            td #{user.email}

            div(class='button-bar')
                button(type='button' class='btn btn-primary btn-sm' onclick='downloadCsv(' + category.id + ',\'' + category.name + '\');') Download CSV for Excel

          else
            h2 Group Tool
            p This tool allows you to list and export groupsets, groups and members in a course.
            p If you see this message, it means that there are no groupsets found. You can create them using the navigation link People and the tab Groups.
            p Only users with an administrative role can see this tool, not Students.

          hr
          
          p
            small #{statistics.name} #{statistics.version} <!-- render time #{statistics.running_s}s, #{statistics.running_ms}ms. -->
